@model IEnumerable<JavaFlorist.Models.ORDER>
@{
    ViewBag.Title = "OrderList";
}

<div class="cart-sect">

    <div class="cart-upper-sect">
        <p>My Orders</p>
    </div>

    <div class="order-main-sect">

    </div>

</div>

