body {
  width: 100vw;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  font-family: poppins;
}

label {
  color: #555555;
}

p, h1, h2 {
  margin: 0;
  padding: 0;
  font-family: poppins;
}

::-moz-selection {
  color: #FFF0E9;
  background: #454545;
}

::selection {
  color: #FFF0E9;
  background: #454545;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  background: rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  width: 100vw;
  height: 70px;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 768px) {
  nav {
    padding: 0 15px;
    justify-content: center;
    background: rgba(0, 0, 0, 0.6);
  }
}
nav .nav-logo {
  cursor: pointer;
  height: 70px;
}
nav .items {
  display: flex;
  align-items: center;
  gap: 3em;
  color: #fff;
}
nav .items a {
  text-decoration: none;
  color: #fff;
  position: relative;
}
nav .items a:hover {
  text-decoration: underline;
}
nav .items ion-icon {
  cursor: pointer;
  font-size: 1.5em;
}
nav .ham {
  width: 25px;
  height: 20px;
  position: absolute;
  right: 15px;
  top: 25px;
  overflow: hidden;
  cursor: pointer;
  display: none;
}
@media (max-width: 768px) {
  nav .ham {
    display: block;
  }
}
nav .ham div {
  width: 100%;
  height: 3px;
  background: #fff;
  position: absolute;
  transition: all 250ms ease;
}
nav .ham .ham1 {
  top: 0;
  left: 0;
}
nav .ham .ham2 {
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
nav .ham .ham3 {
  bottom: 0;
  left: 0;
}
nav .ham.active .ham1 {
  top: 50%;
  transform: translateY(-50%) rotateZ(45deg);
}
nav .ham.active .ham2 {
  left: -100%;
}
nav .ham.active .ham3 {
  bottom: 50%;
  transform: translateY(50%) rotateZ(-45deg);
}

@media (max-width: 768px) {
  .items {
    flex-direction: column;
    position: fixed;
    top: 70px;
    left: -100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
    gap: 2em;
    padding-bottom: 30px;
    transition: all 300ms linear;
  }
  .items a {
    padding: 20px 0;
  }
}
.home-section {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  background-blend-mode: overlay;
  background-size: cover;
  background-position: center;
  transition: background-image 1s ease;
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 0 50px;
}
.home-section .mid-sect {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1em;
  color: #fff;
}
@media (max-width: 768px) {
  .home-section .mid-sect {
    width: 100vw;
    align-items: center;
    text-align: center;
  }
}
.home-section .mid-sect .upper {
  font-size: 3em;
  font-family: "Mr De haviland";
}
.home-section .mid-sect .mid {
  font-size: 3em;
}
.home-section .mid-sect button {
  background: transparent;
  color: #fff;
  border: 1px solid #fff;
  padding: 10px 20px;
  transition: all 250ms linear;
}
.home-section .mid-sect button:hover {
  background: rgba(255, 255, 255, 0.2);
}

.home-2 {
  background: #FFF0E9;
  width: 100vw;
  display: flex;
  padding: 80px 100px;
  gap: 2em;
  color: #454545;
  align-items: center;
}
@media (max-width: 850px) {
  .home-2 {
    flex-direction: column;
  }
}
.home-2 .first-sect {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: flex-start;
  background-image: url("../Resources/sect-bg.png");
  background-repeat: no-repeat;
  background-position-x: right;
}
@media (max-width: 850px) {
  .home-2 .first-sect {
    width: 100%;
  }
}
.home-2 .first-sect .first-heading {
  font-family: "mr de haviland";
  font-size: 4em;
}
.home-2 .first-sect .second-heading {
  font-size: 3em;
  font-weight: 300;
}
.home-2 .first-sect a {
  text-decoration: none;
  color: #454545;
  border: 1px solid #454545;
  background: transparent;
  padding: 20px 30px;
  transition: all 250ms ease;
}
.home-2 .first-sect a:hover {
  background: #f2e0d8;
}
.home-2 .second-sect {
  width: 500px;
  height: 300px;
  background-image: url("../Resources/bg2.png");
  background-size: cover;
  border-radius: 10px;
  filter: drop-shadow(5px 5px 3px rgba(0, 0, 0, 0.4));
}
@media (max-width: 850px) {
  .home-2 .second-sect {
    width: 100%;
  }
}

.login-sect .login-upper-sect {
  width: 100vw;
  height: 50vh;
  background-image: url("../Resources/login-bg.png");
  background-position-y: bottom;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-sect .login-upper-sect p {
  font-size: 5em;
  color: #fff;
}
.login-sect .login-form {
  background-color: #FFF0E9;
  background-image: url("../Resources/sect-bg.png");
  background-repeat: no-repeat;
  background-position-x: right;
  padding: 50px 100px;
}
@media (max-width: 768px) {
  .login-sect .login-form {
    padding: 35px 40px;
  }
}
.login-sect .login-form .form-heading {
  font-size: 3em;
  margin-bottom: 0.5em;
}
@media (max-width: 768px) {
  .login-sect .login-form .form-heading {
    text-align: center;
  }
}

.hint {
  font-size: 12px;
  color: rgb(180, 50, 30);
  margin-bottom: 1em;
}

.form-btn {
  color: #fff;
  transition: background 250ms ease;
  margin-top: 1em;
  background: #454545;
}
.form-btn:hover {
  background: #353535;
  color: #fff;
}

.register-btn {
  margin-top: 1em;
}

.shop-sect .shop-upper-sect {
  width: 100vw;
  height: 50vh;
  background-image: url("../Resources/shop-bg.png");
  background-position-y: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.shop-sect .shop-upper-sect p {
  color: #fff;
  font-size: 5em;
}
.shop-sect .shop-main-sect {
  padding: 50px 100px;
  background: #FFF0E9;
}
@media (max-width: 768) {
  .shop-sect .shop-main-sect {
    padding: 35px 40px;
  }
}
.shop-sect .shop-main-sect .shop-heading {
  text-align: center;
  font-size: 1.7em;
  margin-bottom: 30px;
}
.shop-sect .shop-main-sect .products {
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
  justify-content: center;
}
.shop-sect .shop-main-sect .products .prod-card {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  width: 20rem;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.5em;
  overflow: hidden;
  background: #fff;
  filter: drop-shadow(3px 3px 5px rgba(0, 0, 0, 0.1));
  transition: all 250ms ease;
}
.shop-sect .shop-main-sect .products .prod-card:hover {
  filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0));
  border: 1px solid rgba(0, 0, 0, 0.4);
}
.shop-sect .shop-main-sect .products .prod-card .img-sect {
  width: 100%;
  position: relative;
}
.shop-sect .shop-main-sect .products .prod-card .img-sect::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  transition: all 250ms ease;
  position: absolute;
  left: 0;
  top: 0;
}
.shop-sect .shop-main-sect .products .prod-card .img-sect:hover::after {
  background-color: rgba(0, 0, 0, 0.2);
}
.shop-sect .shop-main-sect .products .prod-card .img-sect img {
  width: 100%;
}
.shop-sect .shop-main-sect .products .prod-card .img-sect a {
  z-index: 9;
  position: absolute;
  left: 50%;
  top: 50%;
  border-radius: 5px;
  transform: translateX(-50%) translateY(-50%);
  background: rgba(255, 255, 255, 0.9);
  padding: 20px 30px;
  text-decoration: none;
  color: #454545;
  font-weight: 600;
  transition: all 250ms ease;
  opacity: 0;
  transition: opacity 250ms ease;
}
.shop-sect .shop-main-sect .products .prod-card .img-sect a:hover {
  background: rgb(255, 255, 255);
}
.shop-sect .shop-main-sect .products .prod-card .img-sect:hover a {
  opacity: 1;
}
.shop-sect .shop-main-sect .products .prod-card .prod-name {
  margin: 0.5em 0;
  font-size: 1.4em;
}
.shop-sect .shop-main-sect .products .prod-card .prod-price {
  color: #555555;
  font-size: 0.8em;
  margin-bottom: 0.3em;
}

.product-sect .product-upper-sect {
  width: 100vw;
  height: 50vh;
  background-image: url("../Resources/prod-bg.png");
  background-position-y: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.product-sect .product-upper-sect p {
  color: #fff;
  font-size: 5em;
}
.product-sect .product-main-sect {
  padding: 50px 100px;
  background-color: #FFF0E9;
  background-image: url("../Resources/sect-bg.png");
  background-repeat: no-repeat;
  background-position-x: right;
  display: flex;
  gap: 2em;
}
@media (max-width: 768px) {
  .product-sect .product-main-sect {
    padding: 35px 50px;
    flex-direction: column;
    gap: 1.5em;
  }
}
.product-sect .product-main-sect .product-image img {
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.product-sect .product-main-sect .product-details {
  padding: 20px 0;
}
.product-sect .product-main-sect .product-details .product-heading {
  font-size: 3em;
  font-weight: 200;
}
.product-sect .product-main-sect .product-details .product-price {
  color: #757575;
  font-size: 1.5em;
  margin-bottom: 1em;
}
.product-sect .product-main-sect .product-details .cart-add {
  display: flex;
  gap: 1em;
  margin-bottom: 20px;
}
.product-sect .product-main-sect .product-details .cart-add .cart-inp {
  padding: 7px 0 7px 10px;
  width: 3em;
}
.product-sect .product-main-sect .product-details .cart-add .cart-btn {
  background: #252525;
  border-radius: 0;
  border: none;
  color: #fff;
  padding: 8px 20px;
}

.cart-sect .cart-upper-sect {
  width: 100vw;
  height: 50vh;
  background-image: url("../Resources/shop-bg.png");
  background-position-y: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cart-sect .cart-upper-sect p {
  color: #fff;
  font-size: 5em;
}
.cart-sect .cart-main-sect {
  background: #FFF0E9;
  padding: 50px 100px;
  background-image: url("../Resources/sect-bg.png");
  background-repeat: no-repeat;
  background-position-x: right;
  gap: 1.5em;
  display: flex;
  flex-direction: column;
}
@media (max-width: 768px) {
  .cart-sect .cart-main-sect {
    padding: 35px 50px;
  }
}
.cart-sect .cart-main-sect .cart-item {
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 10px 20px;
  padding-block: 1em;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  display: flex;
  gap: 1em;
}
@media (max-width: 768px) {
  .cart-sect .cart-main-sect .cart-item {
    flex-direction: column;
  }
}
.cart-sect .cart-main-sect .cart-item label {
  color: #555555;
}
.cart-sect .cart-main-sect .cart-item .cart-img-sect {
  display: flex;
  flex-direction: column;
}
.cart-sect .cart-main-sect .cart-item .cart-img-sect input {
  width: 200px;
  background: #454545;
  transition: all 250ms ease;
  text-align: center;
}
.cart-sect .cart-main-sect .cart-item .cart-img-sect input:hover {
  background: #252525;
}
.cart-sect .cart-main-sect .cart-item .cart-img-sect img {
  width: 200px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}
@media (max-width: 768px) {
  .cart-sect .cart-main-sect .cart-item .cart-img-sect img {
    width: 100%;
  }
}
.cart-sect .cart-main-sect .cart-item .cart-heading {
  font-size: 2em;
  color: #454545;
}
.cart-sect .cart-main-sect .cart-item .cart-price {
  color: #656565;
}
.cart-sect .cart-main-sect .cart-item .cart-message {
  margin-top: 0.5em;
}
.cart-sect .cart-main-sect .cart-item .cart-quantity {
  display: flex;
  gap: 1em;
  margin-top: 0.5em;
  align-items: center;
}
.cart-sect .cart-main-sect .cart-item a {
  color: #fff;
  margin-top: 20px;
  text-decoration: none;
  background: rgb(180, 50, 30);
  padding: 10px 20px;
  border-radius: 10px;
}

.empty-cart {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.empty-cart p {
  font-size: 2em;
  color: #454545;
  font-weight: 600;
  text-transform: uppercase;
}

.order-main-sect {
  background: #FFF0E9;
  padding: 50px 100px;
  background-image: url("../Resources/sect-bg.png");
  background-repeat: no-repeat;
  background-position-x: right;
}
.order-main-sect .form {
  position: relative;
}
.order-main-sect .form img {
  width: 200px;
  position: absolute;
  right: 0;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
@media (max-width: 768px) {
  .order-main-sect .form img {
    width: 100%;
  }
}
.order-main-sect .form h5 {
  margin-bottom: 1em;
}
.order-main-sect .form .total-price {
  font-weight: 600;
  margin: 0.5em 0;
  color: #454545;
  font-size: 1.2em;
}

.order-item {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 10px 20px;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  display: flex;
  gap: 1em;
}
@media (max-width: 768px) {
  .order-item {
    flex-direction: column;
  }
}
.order-item img {
  width: 200px;
  height: 200px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 2px;
}
@media (max-width: 768px) {
  .order-item img {
    height: auto;
    width: 100%;
  }
}
.order-item .order-details {
  width: 100%;
}
.order-item .order-details .order-name {
  font-size: 2em;
  color: #555555;
  font-weight: 500;
}
.order-item .order-details p {
  color: #454545;
  font-weight: 500;
}
.order-item .order-details .order-message {
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin: 10px 0;
  padding: 10px;
  border-radius: 10px;
}
.order-item .order-details .order-message p {
  font-weight: 600;
  color: #a0317d;
}

footer {
  background: #252525;
  width: 100vw;
  color: rgb(200, 200, 200);
}
footer .footer-sect {
  padding: 50px 200px;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 600px) {
  footer .footer-sect {
    justify-content: center;
    padding: 20px;
  }
}
footer .footer-sect .first-sect {
  width: 200px;
}
footer .footer-sect .first-sect img {
  width: 150px;
  margin-bottom: 10px;
}
footer .footer-sect .sec-sect .work-heading {
  color: #fff;
  font-size: 1.7em;
  margin-bottom: 0.5em;
}
footer .footer-footer {
  text-align: center;
  padding: 15px 0;
  color: rgb(150, 150, 150);
  background: #050505;
}/*# sourceMappingURL=Styles.css.map */